[Unit]
Description=SoundSync Bluetooth adapter setup (Class-of-Device + HCI name)
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/soundsync apply-adapter-config

[Install]
WantedBy=bluetooth.target
